html {
    font-size: 35px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section1 {
    margin-bottom: 30px;
}

.section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.letter,
.letter>input {
    width: 1.5rem;
    height: 1.5rem;
}

.letter,
.dropbtn {
    border: solid gray;
}

.main {
    display: flex;
    width: 90vw;
    justify-content: space-around;
}

h1 {
    font-size: 1.5rem;
}

.guess {
    display: flex;

    margin-bottom: 10px;
}

.letter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.letter>input {
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
    padding: 0;

    border: none;
    outline: none;
}

.colors {
    position: relative;
    display: inline-block;

    margin-top: -20px;
}

.dropbtn {
    background-color: gainsboro;
    color: black;
    font-size: .3rem;
    border-top: none;
    cursor: pointer;
    text-transform: uppercase;
    width: calc(1.5rem + 3px);
}

.dropbtn:hover {
    background-color: darkgray;
}

.drop-colors {
    display: none;
    position: absolute;
    width: calc(1.5rem + 3px);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    text-align: center;
}

.color-option {
    font-size: .35rem;
    padding: 2px 0;
    display: block;
    text-transform: uppercase;
}

.color-option:hover {
    color: black;
    cursor: pointer;
}

.green {
    background-color: #6baa64;
    color: white;
}

.yellow {
    background-color: #c8b458;
    color: white;
}

.gray {
    background-color: #787c7e;
    color: white;
}

.round {
    font-size: .4rem;
}

.round1 {
    color: #6baa64;
}

.round2 {
    color: #c8b458;
}

.round3 {
    color: #787c7e;
}

.showDrop {
    display: block;
}

.guessCount {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 1rem;
    height: 1rem;
    font-size: .7rem;
}

.guessCount:hover {
    cursor: pointer;
}

.countPicked {
    background-color: darkorange;
    color: white;
    border-radius: 50%;
}

.disabled {
    opacity: 0.3;
}

.disabled .dropbtn:hover {
    cursor: auto;
    background-color: gainsboro;
}

#displayList {
    width: 30vw;
    height: 60vh;
    background-color: rgba(220, 220, 220, 0.543);
    text-transform: uppercase;
    overflow-y: scroll;
    text-align: center;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

li{
    list-style: none;
    font-size: 0.5rem;
}